/* glyphs page */

.glyphSectionHead{
    text-align: center;
}

.glyphSet{
    margin: 0;
    padding: 0;
}

.glyphItem{
    /* ??? */
}

.glyphItem.selectedGlyph{
    border: 2px solid darkred;
}

.factoidContainer{
    position: absolute;
    visibility: hidden;
}

.factoidContainer.selectedGlyph{
    visibility: visible;
}


.factoid{
    margin: 4px;
    padding: 0px;
    background-color: Orange;
}

.factoid h2{
    background-color: DarkRed;
    color: Wheat;
}


