/* glyphs page */

.glyphSectionHead{
    text-align: center;
}

.glyphSet{
    border: 1px solid DarkGray;
}

.factoidContainer{

}

.factoid{
    margin: 4px;
    padding: 0px;
    background-color: Orange;
}

.factoid h2{
    background-color: DarkRed;
    color: Wheat;
}
