<% provide(:title, "About") %>

<!--TODO temporary copy-->

<p>
Since ancient times, the inhabitants of Mesoamerica have practiced slash-and-burn agriculture. In the <i>milpa</i> system, which is still practiced today, patches of jungle are routinely felled, incinerated, cultivated, and then left fallow in a rotating cycle. The ash makes for a high-quality fertilizer, and a civilization employing such a system can generate an astonishing amount of food.
<br /><br />
However, this advanced form of agriculture requires careful timing. The jungle must be incinerated immediately before the rainy season begins. Too late, and the rains will prevent the burn. Too soon, however, and the nutrient-rich ash will be scattered by the winds, eliminating the advantage of the <i>milpa</i> system.
<br /><br />
The ancient peoples of Mesoamerica, therefore, have always been under strong pressure to maintain an accurate measurement of the passage of time. Every major Mesoamerican civilization has had its own method of keeping track of days, but none is more famous than the Mayan Hieroglyphic Calendar. 
</p>

