<% provide(:title, "About") %>
<h1>Frequently Asked Questions</h1>
<div>
    <h3>Q: </h3>
    <blockquote>Should this site get a good grade?</blockquote>
    <h3>A: </h3>
    <blockquote>Yes.</blockquote>
</div>
