<% provide(:title, "About") %>

<!--TODO temporary copy-->

<div class="aboutCopy">
    <p>
Since ancient times, the inhabitants of Mesoamerica have practiced slash-and-burn agriculture. In the <i>milpa</i> system, which is still practiced today, patches of jungle are routinely felled, fired, farmed, and then left fallow in a rotating cycle. The jungle ash makes for a high-quality fertilizer, and a civilization employing such a system can generate an astonishing amount of food.
    <br /><br />
However, this form of agriculture requires careful timing. The jungle must be incinerated immediately before the rainy season begins. Too late, and the rains will prevent the burn. Too soon, however, and the nutrient-rich ash will be scattered by the winds, eliminating the advantage of the <i>milpa</i> system.
    <br /><br />
The ancient peoples of Mesoamerica, therefore, have always been under strong pressure to maintain an accurate measurement of the passage of time. Every major Mesoamerican civilization has had its own method of keeping track of days, but none is more famous than the Mayan Hieroglyphic Calendar. 
    </p>
</div>

<div class="horizontalDivider"></div>

<div class="aboutCopy">
    <h2>The Mayan Calendar</h2>
    <p>
Dates recorded in the Mayan Calendar are one of the most common examples of Classical Mayan hieroglyphic writing.
Beautifully sculpted in the limestone of temple stairs and stelae, or expertly scribed upon ceramic ware and paper-bark codices, they fix in time the birth of kings and the conquest of foes. A Mayan Calendar date consists of an array of hieroglyphs, and can contain information such as the lunar phase, the position of the day in 5-, 7-, and 819-day cycles, and various associated colours and patron deities. 
    <br /> <br />
Almost invariably, however, Mayan dates contain two key features:
    </p>
    <ul>
        <li>The <i>Long Count</i>, which fixes the date's position in an eternal linear continuum, and</li>
        <li>The <i>Calendar Round</i>, which comprises the sacred <i>Tzolk'in</i> cycle and the <i>Haab'</i> solar year.</li>
    </ul>
    <p>
This website converts between a Gregorian Date and a Mayan Date with a Long Count, Calendar Round, and a supplementary 9-day cycle called the <i>Lord of the Night</i>*.
    </p>
    <div class="aside">
* The term "Lord of the Night" is an invention; the glyphs in question are followed by a glyph translated as <b>TI-HUN'-(na)</b>, "Reader of the Book". Epigraphers have a propensity for inventiveness, which often means that names used to describe the Mayan Calendar have no relationship whatever to what the Mayans actually wrote. Indeed, the terms "Tzolk'in" and "Haab'" are borrowed from modern dialects, as are the names of the glyphs they contain; in some cases, we have no idea what the Classical Mayan terms for these dates were.
    </div>
</div>

<div class="horizontalDivider"></div>

<div class="aboutCopy">
    <h2>The Long Count</h2>
    <p>
The Long Count records the time elapsed, in days, since the day of creation, believed by Mayan Scholars to be 11 August 3114 BCE. The Mayans count in vigesimal, or base 20; each glyph of the Long Count consists of a digit and a glyph to mark the place. The Long Count is vigesimal with one exception -- the second digit, which counts 20-day increments, resets after 18; thus approximating solar years by allowing the higher places to count in increments of 360 days.
<br /><br />
Long Count dates are shown, like our number system, with the most significant digit first, followed by the next most significant, down to the last digit which counts days by the each. Most Long Counts contain five places -- days, scores of days, years, scores of years, and "bundles" -- scores of scores of years. There is, however, no limit on how many digits a Long Count can contain.
<br /><br />
Some Long Count dates use the number 13 in higher places to represent the date of creation, such as Coba Stela 1, which has a Long Count date of 13.13.13.13.13.13.13.13.13.13.13.13.13.13.13.13.13.13.13.13.0.0.0.0. It is unknown whether this refers to a date in the unimaginably distant future, or is merely a way to impress upon the reader the limitless nature of the Mayan understanding of cyclic time.
    </p>
</div>

<div class="horizontalDivider"></div>

<div class="aboutCopy">
    <h2>The Tzolk'in</h2>
    <p>
The Tzolk'in is a sacred ritual cycle of 260 days, and consists of a number paired with a day-glyph. Each day, both the number and the sign increment; the number resets after 13 cycles while the day resets after 20 cycles; so, for instance, <i> 1 Ajaw </i> is followed by <i> 2 Imix</i>, which is followed by <i>3 Ik'</i>, and so forth until <i>13 Eb'</i>, which is followed by <i>1 B'en</i>. The same pair of number and sign will therefore only repeat every 260 days.
    </p>
</div>

<div class="horizontalDivider"></div>

<div class="aboutCopy">
    <h2>The Haab'</h2>
    <p>
The Haab' is a solar year of 365 days, divided into 18 months of 20 days each. In contrast to the Tzolk'in, the Haab' is a more commonplace calendar, detailing seasonal and agricultural information. Each month begins with a zero-day called the "seating", in which the patron deity of the month would be ceremonially installed.
<br /><br />
The astute observer will note that 18 months of 20 days is only 360 days total; the Mayans, with their love of perfect cycles and ratios, begrudgingly doled out the five extra days required to match the Earth's rotation around the sun. These five days, sited at the end of the year and called <i>Wayeb'</i>, or "the sleepers", were immensely unlucky; the Mayans did not, among other things, leave their homes or bathe during this time.
    </p>
</div>
