<h2>Home Page</h2>
<br />

<!-- There's inline styling and line break formatting here ONLY because it's a temporary feature.-->

<p>Here's a random quote from the <i>Popol Vuh</i>:</p>
<blockquote style="font-style:italic">
"<%= @rand_placeholder%>"
</blockquote>
<br />
<p style="font-size:0.75em; font-color:#2F2F2F">Reload the page if you would like another.</p>
