<h2>Home Page</h2>
<br />
<p>Here's a random quote from the <i>Popol Vuh</i>:</p>
<blockquote style="font-style:italic">
"<%= @rand_placeholder%>"
</blockquote>
<p>Reload the page if you would like another.</p>
