<header>
    <nav>
        <div id="navbar">
            <ul>
                <li><%= link_to "Home", home_path, :class => ('navCurrentLink' if (controller.action_name == "home" or current_page?(root_path)))%></li>
                <li><%= link_to "About", about_path, :class => ('navCurrentLink' if controller.action_name == "about")%></li>
                <li><%= link_to "Glyphs", glyphs_path, :class => ('navCurrentLink' if controller.action_name == "glyphs")%></li>
            </ul>
        </div>
    </nav>
</header>
